/* == ================================================= 
|        (0.1) PSEUDO-CLASA ":ROOT"
|          (DEF. VAR. 'GLOBALE' pPERSONALIZATE)
   =================================================== */
:root {
  --culoare-principala: #2584ff;
  --culoare-secundara: #00d9ff;
  --culoare-accent: #ff3400;
  --culoare-titluri: #1b0760;
  --culoare-corp: #918ca4;
}
