/* == ================================================= 
|        (0.1) PSEUDO-CLASA ":ROOT"
|          (DEF. VAR. 'GLOBALE' pPERSONALIZATE)
   =================================================== */
:root {
  --culoare-principala: #2584ff;
  --culoare-secundara: #00d9ff;
  --culoare-accent: #ff3400;
  --culoare-titluri: #1b0760;
  --culoare-corp: #918ca4;
  --culoare-corp-intunecata: #5c5577;
  --culoare-border: #ccc;
  --border-radius: 30px;
}


/*




*//* == ================================================= 
|    (0.2) SELECTORUL UNIVERSAL  &  PSEUDO-SELECTORUL
|             "*",  "*::AFTER",  "*::BEFORE"
|        (PT. DEF. "TUTUROR" ELEMENTELOR "HTML")
   =================================================== */
*, *::after, *::before {
 
  /* PROP. "BOX-SIZING" (DIM. CUTIEI) */
  /* CU VAL. "BORDER-BOX" (CUTIE DE DIM. BORDER-ULUI) */
 box-sizing: border-box;
}

/*




*//* == ================================================= 
|    (0.3) CLS. "CONTAINER"
|  (PT. DEF. "LATIMI CONTINUTULUI" ELEMENTELOR "HTML")
   =================================================== */
.container {
  max-width: 1140px;

  /* MARGINI "VERTICAL" & "ORIZONTAL" */
  margin: 0 auto;
}

/*




*/

/*  
////////////////////////////////////////////////////////

           (I) TIPOGRAFIE  [MOBILE]

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/ /* == ============================================== 
|        (1.1) ELEM. "HTML"
|     (DEF. DIMENSIUNII DE BAZA AL FONTULUI)
   =================================================== */
html {
  /* FONT INITIAL: '10PX' , ADICA ('16PX * 62.5%)  ' */
  font-size: 62.5%;
}

/*  




*/ /* == ============================================== 
|        (1.2) ELEM. "BODY"
|          (DEF. FONTURI TEXT CORP)
   =================================================== */
body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;

  /* INALTIME LINIE - 1.5 DIN DIMENSIUNEA FONTULUI CURENT*/
  line-height: 1.5;
  color: var(--culoare-corp);
}

/*  




*/ /* == ============================================== 
|        (1.3) ELEM. "H1, H2, H3"
|          (DEF. FONTURI TEXT TITLURI)
   =================================================== */
h1,
h2,
h3 {
  color: var(--culoare-titluri);
  margin-bottom: 1rem;
}

/*  




*/ /* == ============================================== 
|        (1.3.1) ELEM. "H1"
|          (DEF. DIM. FONTURI TEXT TITLURI)
   =================================================== */
h1 {
  font-size: 7rem;
}

/*  




*/ /* == ============================================== 
|        (1.3.2) ELEM. "H2"
|          (DEF. DIM. FONTURI TEXT TITLURI)
   =================================================== */
h2 {
  font-size: 4rem;
}

/*  




*/ /* == ============================================== 
|        (1.3.3) ELEM. "H3"
|          (DEF. DIM. FONTURI TEXT TITLURI)
   =================================================== */
h3 {
  font-size: 3rem;
}

/*  




*/ /* == ============================================== 
|        (1.4) ELEM. "P"
|          (DEF. MARGINI TOP)
   =================================================== */
p {
  margin-top: 0;
}

/*  




*/ /* 
   ////////////////////////////////////////////////////
|                (I) TIPOGRAFIE  [DESKTOP]   
|         ( @MEDIA  QUERY (LATIME  MINIMA: 1024PX) )
   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
@media screen and (min-width: 1024px) {
  /* == ============================================== 
  |        (0.1) ELEM. "BODY"
   =================================================== */
  body {
    font-size: 1.8rem;
  }

  /* == ============================================== 
  |        (0.2.1) ELEM. "H1"
   =================================================== */
  h1 {
    font-size: 8rem;
  }

  /* == ============================================== 
  |        (0.2.2) ELEM. "H2"
   =================================================== */
  h2 {
    font-size: 4rem;
  }

  /* == ============================================== 
  |        (0.2.3) ELEM. "H3"
   =================================================== */
  h3 {
    font-size: 2.4rem;
  }
}

/* 




*/ /*  
////////////////////////////////////////////////////////

           (II) LINK-URI  [MOBILE]

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/ /* == ============================================== 
|        (2.1) ELEM. "A"
|     
   =================================================== */
a {
  /* DEZACTIVAM  SUBLINIEREA LINK-URILOR*/
  text-decoration: none;
}

/*  




*/ /* == ============================================== 
|         (2.2) CLS. "LINK-SAGEATA"
|          
   =================================================== */
.link-sageata {
  /* CULOARE LINK */
  color: var(--culoare-accent);

  /* TRANSFORMAM CARACTERELE = IN "LITERE MARI" */
  text-transform: uppercase;

  /* DIM. FONT LINK */
  font-size: 2rem;

  /* INGROSAM  CARACTERELE */
  font-weight: bold;
}

/*  




*/ /* == ============================================== 
|         (2.2.1) PSEUDO-CLS. "::AFTER"
|    (PT. ADAUGAREA "SAGETII" DUPA CUVANTUL "LINK")   
   =================================================== */
.link-sageata::after {
  /* ADAUGARE "CONTINUT" = "ICON"  */
  content: "-->";
  margin-left: 5px;

  /* ANIMAREA "TRANZITIEI" = "MARGIN"   */
  transform: margin 0.15s;
}

/*  




*/ /* == ============================================== 
|         (2.2.2) PSEUDO-CLS. ":HOVER::AFTER"
|    (PT. EFECT ASUPRA "SAGETII" DUPA CUVANTUL "LINK")   
   =================================================== */
.link-sageata:hover:after {
  /* MARIM "MARGINEA LA STANGA"   */
  margin-left: 10px;
}

/*  




*/ /* 
   ////////////////////////////////////////////////////
|                (II) LINK-URI  [DESKTOP]   
|         ( @MEDIA  QUERY (LATIME  MINIMA: 1024PX) )
   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
@media screen and (min-width: 1024px) {
  .link-sageata {
    /* DIM. FONT LINK - PE [DESKTOP] */
    font-size: 1.5rem;
  }
}

/*




*/ /*  
////////////////////////////////////////////////////////

           (III) BADGES (INSIGNE))  [MOBILE]

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/ /* == ============================================== 
|        (3.1) CLS. "BADGE"
|     (DEF. STRUCTURA INSIGNEI)    
   =================================================== */
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;

  /* DEZACTIVAREA IMPACHETARII (WRAPPING) - PT. A EVITA MUTAREA PE ALTA RAND*/
  white-space: nowrap;
}

/*




*/ /* == ============================================== 
|        (3.2) CLS. "BADGE--PRINCIPAL"
|     (DEF. SCHEMEI INSIGNEI)    
   =================================================== */
.badge--principal {
  background: var(--culoare-principala);
  color: #fff;
}

/*




*/ /* == ============================================== 
|        (3.2) CLS. "BADGE--SECUNDAR"
|     (DEF. SCHEMEI INSIGNEI)    
   =================================================== */
.badge--secundar {
  background: var(--culoare-secundara);
  color: #fff;
}

/*




*/ /* == ============================================== 
|        (3.3) CLS. "BADGE--MIC"
|     (DEF. DIM. INSIGNEI MICI)    
   =================================================== */
.badge--mic {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

/*  




*/ /* 
   ////////////////////////////////////////////////////
|                (III) BADGES (INSIGNE)  [DESKTOP]   
|         ( @MEDIA  QUERY (LATIME  MINIMA: 1024PX) )
   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--mic {
    font-size: 1.2rem;
  }
}

/*




*/ /*  
////////////////////////////////////////////////////////

           (IV) LISTE  [MOBILE]

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/ /* == ============================================== 
|        (4.1) CLS. "LIST"
|     
   =================================================== */
.list {
  /* DEZACTIVAM BULLETS POINTS */
  list-style: none;

  /* ELIMINAREA PADDING-ULUI ADAUGAT DE BROUSER */
  padding-left: 0;
  color: var(--culoare-titluri);
}

/*




*/ /* == ============================================== 
|        (4.2) CLS. ".LIST--INLINE .LIST__ITEM"
|        
   =================================================== */
.list--inline .list__item {
  /*  AFISARE 'BLOC IN LINIE'  */
  display: inline-block;

  margin-right: 2rem;
}

/*




*/ /* == ============================================== 
|        (4.3) CLS. ".LIST--TICK" (LISTA BIFATA)
|        
   =================================================== */
.list--tick {
  /* INCARCARE "IMG  DE  STILIZARE A LISTEI" */
  list-style-image: url(../images/tick.svg);

  padding-left: 3rem;
}

/*




*/ /* == ============================================== 
|        (4.4) CLS. ".LIST--TICK .LIST__ITEM" (LISTA BIFATA)
|        
   =================================================== */
.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

/*  




*/ /* 
   ////////////////////////////////////////////////////
|                (IV) LISTE  [DESKTOP]   
|         ( @MEDIA  QUERY (LATIME  MINIMA: 1024PX) )
   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/*




*/ /*  
////////////////////////////////////////////////////////

           (V) ICONS (PICTOGRAME)  [MOBILE]

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/ /* == ============================================== 
|          (5.1) CLS. "ICON"
|     (PT. DIMENSIONAREA ICON-URILOR)
   =================================================== */
.icon {
  width: 40px;
  height: 40px;
}

/*




*/ /* == ============================================== 
|          (5.2) CLS. "ICON--MIC"
|     (PT. MICSORAREA DIMENSIUNII ICON-URILOR)
   =================================================== */
.icon--mic {
  width: 30px;
  height: 30px;
}

/*




*/ /* == ============================================== 
|          (5.3) CLS. "ICON"
|     (PT. CULOAREA FRONT A ICON-URILOR)
   =================================================== */
.icon--principal {
  /* PROP. SVG "FILL" (IN LOC DE "COLOR")   */
  fill: var(--culoare-principala);
}

/*




*/ /* == ============================================== 
|          (5.4) CLS. "ICON--ALB"
|     (PT. CULOAREA FRONT a ICON-URILOR)
   =================================================== */
.icon--alb {
  /* PROP. SVG "FILL" (IN LOC DE "COLOR")   */
  fill: #fff;
}

/*




*/ /* == ============================================== 
|          (5.5) CLS. "ICON-CONTAINER"
|         (PT. CREARE CERC IN JURUL ICON-ULUI)
   =================================================== */
.icon-container {
  /* background-color: gold; */
  background-color: #f3f9fa;

  width: 64px;
  height: 64px;

  /* IL ROTUNJIM */
  border-radius: 100%;

  /* AFISAREA CENTRATA = "FLEX IN LINIE" */
  display: inline-flex;

  /* ALINIEREA FATA DE "AXA ORIZONTALA" */
  justify-content: center;

  /* ALINIEREA FATA DE "AXA VERTICALA" */
  align-items: center;
}

/*




*/ /* == ============================================== 
|       (5.6) CLS. "ICON-CONTAINER--ACCENT"
|       (PT. BACKGROUND ICON - TESTIMONIAL)
   =================================================== */
.icon-container--accent {
  background-color: var(--culoare-accent)
}

/*




*/ /*  
////////////////////////////////////////////////////////

           (VI) BUTOANE   [MOBILE]

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/ /* == ============================================== 
|          (6.1) CLS. "BTN"
|     (PT. FONT, DISTANTARE SI BORDER)
   =================================================== */
.btn {
  /* DEZACTIVARE BORDER (LINIE DE CONTUR)) */
  border 0;
  
  /* ROTUNJIRE COLTURI BORDER */
  border-radius: 40px;
  
  /* SETARE  CURSOR (LA HOVER PESTE BUTON) = 'POINTER' (MANA) */
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;

  /* MARGINI = PE "VERTICAL (SUS.- JOS)",  "ORIZONTAL (ST.- DR)" */
  margin: 1rem 0;

  /* DISTANTARE (PADDING) = PE "VERTICAL (SUS.- JOS)",  "ORIZONTAL (ST.- DR)" */
  padding: 2rem 3rem;

  text-align: center;

  /* TRANSFORMAREA "CARACTERELOR" -- IN "LITERE MARI" */
  text-transform: uppercase;

  /* SPATIEREA AUTOMATA = 'NOWRAP' (FARA IMPACHETARE) */
  white-space: nowrap;
}

/*




*/ /* == ============================================== 
|          (6.2.1) CLS. "BTN--PRINCIPAL"
|     (PT. CULOARE - BUTON & TEXT)
   =================================================== */
.btn--principal {
  background-color: var(--culoare-principala);
  color: #fff;
}

/*




*/ /* == ============================================== 
|          (6.2.1.H) CLS. "BTN--PRINCIPAL:HOVER"
|     (ADAUGAREA  EFECTULUI HOVER PE BUTON)
   =================================================== */
.btn--principal:hover {
  /* FUNC. SASS 'LIGHTEN()' */
  /* background-color: lighten(principal, 10%); */

  background: #3a8ffd;
}

/*




*/ /* == ============================================== 
|          (6.2.2) CLS. "BTN--SECUNDAR"
|     (PT. CULOARE - BUTON & TEXT)
   =================================================== */
.btn--secundar {
  background-color: var(--culoare-secundara);
  color: #fff;
}

/*




*/ /* == ============================================== 
|          (6.2.2.H) CLS. "BTN--SECUNDAR:HOVER"
|     (ADAUGAREA  EFECTULUI HOVER PE BUTON)
   =================================================== */
.btn--secundar:hover {
  background-color: #00c8eb;
}

/*




*/ /* == ============================================== 
|          (6.2.3) CLS. "BTN--ACCENT"
|     (PT. CULOARE - BUTON & TEXT)
   =================================================== */
.btn--accent {
  background-color: var(--culoare-accent);
  color: #fff;
}

/*




*/ /* == ============================================== 
|          (6.2.3.H) CLS. "BTN--ACCENT:HOVER"
|     (ADAUGAREA  EFECTULUI HOVER PE BUTON)
   =================================================== */
.btn--accent:hover {
  background-color: #ec3000;
}

/*




*/ /* == ============================================== 
|          (6.3) CLS. "BTN--INTINS" (STRETCHED)
|     (PT. BTN LUNGI (PE MOBIL))
   =================================================== */
.btn--intins {
  padding-left: 6rem;
  padding-right: 6rem;
}

/*




*//* == ============================================== 
|          (6.4) CLS. "BTN-BLOCK"
|     ("BUTOANE" PE "INTREAGA LATIME" A "COLOANEI")
   =================================================== */
   .btn-block {

    /* LATIME PE TOT RANDUL */
    width: 100%;
    
    /* AFISARE - "BLOC IN LINIE" */
    display: inline-block;
  }

  

/*




*//* == ============================================== 
|          (6.5) CLS. "BTN-OUTLINE" (CONTUT)
|     ("BUTOANE" CU "LINIE DE  CONTUR" (FARA CULOARE) )
   =================================================== */
   .btn-outline {

    background: #fff;
    color: var(--culoare-titluri);
    border: 2px solid var(--culoare-titluri);
  }

/*




*//* == ============================================== 
|          (6.5.H) CLS. "BTN-OUTLINE" (CONTUT)
|     ("HOVER - BUTOANE" CU "LINIE DE  CONTUR" (FARA CULOARE) )
   =================================================== */
  .btn-outline:hover {

  background: var(--culoare-titluri);
  color: #fff;
}

  
/*  




*/ /* 
   ////////////////////////////////////////////////////
|                (VI) BUTOANE  [DESKTOP]   
|         ( @MEDIA  QUERY (LATIME  MINIMA: 1024PX) )
   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
@media screen and (min-width: 1024px) {
  .btn{
    font-size: 1.5rem;
  }
}


/*




*/ /*  
////////////////////////////////////////////////////////

           (VII) INPUTS (INTRARI)  [MOBILE]

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/ /* == ============================================== 
|          (7.1) CLS. "INPUT"
|     
   =================================================== */
.input {
  border-radius: var(--border-radius);
  border: 1px solid #ccc;
  /* color: var(--culoare-titluri); */
  color: var(--culoare-border);
  font-size: 2rem;

  /* DEZACTIVAM "CONTURUL"-UL ADAUGAT DE BROUSER PT. INPUT */
  outline: 0;
  padding: 1.5rem 3.5rem;
}


/*




*/ /* == ============================================== 
|          (7.2) OSEUDO-SELECTORUL. "::PLACEHOLDER"
|    (PT. SETAREA CULORI TEXTULUI DIN "PLACEHOLDER") 
   =================================================== */
::placeholder {
  color: #cdcbd7;
}

 


/*




*/ /* == ============================================== 
|          (7.3) CLS "INPUT-GROUP"
|    (PT. SETAREA CULORI TEXTULUI DIN "PLACEHOLDER") 
   =================================================== */
.input-group {
  /* FRONTIERA (BORDER) */
  border: 1px solid var(--culoare-border);
  border-radius: var(--border-radius);

  /* PROP. "DISPLAY" = "FLEX"
   (PT. CRESTEREA "INPUT" SAU & PRELUAREA "SPATIULUI" DISPONIBIL) */
  display: flex;
}

/*




*/ /* == ============================================== 
|          (7.4) CLS "INPUT" DIN "INPUT-GROUP"
|    (PT. SETARE BORDER ZERO) 
   =================================================== */
.input-group .input {
  /* DEZACTIVAM FRONTIERA */
  border: 0;

  /* PROP. "FLEX-FROW"
   (PERMITE CRESTEREA "INPUT" & PRELUAREA "SPATIULUI" DISPONIBIL) */
  flex-grow: 1;

  /* REDUCEM DISTANTA INTRE 'INPUT' & 'INPUT-GROUP' */
  /* VERTICAL (SUS & JOS) & ORIZONTAL (STANGA & DREAPTA) */
  padding: 1.5rem 1rem;
}

 

/*




*/ /* == ============================================== 
|          (7.5) CLS "BTN" DIN "INPUT-GROUP"
|    (PT. SETARE MARGINIILOR BUTONULUI) 
   =================================================== */
.input-group .btn {
  margin: 4px;  
}

 
/*  




*/ /* 
   ////////////////////////////////////////////////////
|                (VII) INPUT  [DESKTOP]   
|         ( @MEDIA  QUERY (LATIME  MINIMA: 1024PX) )
   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
@media screen and (min-width: 1024px) {
  .input{
    font-size: 1.5rem;
    border-radius: ;
  }
}
  



/*




*/ /*  
////////////////////////////////////////////////////////

           (VIII) CARDURI   [MOBILE]

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/ /* == ============================================== 
|          (8.1) CLS. "CARD"
|     
   =================================================== */
.card {
  border-radius: 7px;

  /* SHADOW = "OFFSET: X, Y", "BLUR", 
  box-shadow: 0 0 20px 10px #f3f3f3;  

  /* ASCUNDEM  'SUPRAPUNEREA' 
     (PT. ROTUNJIREA COLTURILOR HEADER__CARD) */
  overflow: hidden;
}

/*




*/ /* == ============================================== 
|      (8.2) CLS. "CARD__HEADER" & "CARD__BODY"
|             (DEF. PADDING-UL)
   =================================================== */
.card__header, 
.card__body {
  padding: 2rem 3rem;
} 

/*




*/ /* == ============================================== 
|  (8.3.1) CLS. "CARD__PRINCIPAL" CU SETARE "CARD__HEADER"
|       (PT. DEF. CULORII PRINCIPALEL)
   =================================================== */
.card--principal .card__header{
  background-color: var(--culoare-principala);
  color: #FFF;
}

/*




*/ /* == ============================================== 
|  (8.3.2.1) CLS. "CARD__SECUNDAR" CU SETARE "CARD__HEADER"
|       (PT. DEF. CULORII SECUNDARE)
   =================================================== */
.card--secundar .card__header{
  background-color: var(--culoare-secundara);
  color: #FFF;
}


/*




*/ /* == ============================================== 
|  (8.3.2.2) CLS. "CARD__SECUNDAR" 
|            CU SETARE "BADGE---SECUNDAR"
|  (PT. DEF. "CULORII BACKGROUND" PT "BADGE SECUNDAR")
   =================================================== */
.card--secundar .badge--secundar {
  background-color: #02cdf1;
}


/*




*/ /*  
////////////////////////////////////////////////////////

           (IX) PLAN  ABONAMENT   [MOBILE]

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/ /* == ============================================== 
|          (9.1) CLS. "PLAN__NUME"
|     
   =================================================== */
  .plan__nume{
    color: #fff;
    margin: 0;
    font-weight: 500;
    font-size: 2.4rem;
  }

/*




*//* == ============================================== 
|          (9.2) CLS. "PLAN__PRET"
|     
   =================================================== */
.plan__pret{
  font-size: 6rem;
}   

/*




*//* == ============================================== 
|          (9.3) CLS. "PLAN__FACTURARE-CICLU"
|     
   =================================================== */
.plan__facturare-ciclu {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8;
  margin: 1rem;
}    

/*




*//* == ============================================== 
|          (9.3) CLS. "PLAN__FACTURARE-CICLU"
|     
   =================================================== */
.plan__descriere {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}    

/*




*//* == ============================================== 
|          (9.4) CLS. "LIST__ITEM" DIN "PLAN"
|     
   =================================================== */
.plan .list__item {
  margin-bottom: 2rem;
} 

/*




*//* == ============================================== 
|   (9.5) CLS. "CARD-HEADER" PT. "PLAN--POPULAR"
|         (DE CARE SE LEAGA PSEUDOCLASA)
   =================================================== */
.plan--popular .card__header {
  position: relative; 
} 

/*




*//* == ============================================== 
|   (9.6) PSEUDO-CLS. "CARD-HEADER::BEFORE" PT. "PLAN--POPULAR"
|         (PT. INSERARE ICONULUI "POPULAR.SVG")
   =================================================== */
.plan--popular .card__header::before {
  content: url(../images/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute; 
  top: -6px;
  right: 5%;
} 

/*




*/ /* 
   ////////////////////////////////////////////////////
|                (IX) PLAN - CARD  [DESKTOP]   
|         ( @MEDIA  QUERY (LATIME  MINIMA: 1024PX) )
   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
@media screen and (min-width: 1024px) {
  .plan__nume{
    font-size: 1.4rem;
  }

  .plan__pret{
    font-size: 5rem;
  }

  .plan__facturare-ciclu{
    font-size: 1.5rem;
  }

  .plan__descriere{
    font-size: 1.7rem;
  }
}


/*




*/ /*  
////////////////////////////////////////////////////////

           (X) MODELUL "OBIECT MEDIA"   [MOBILE]

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/ /* == ============================================== 
|          (10.1) CLS. "MEDIA"
|     
   =================================================== */
.media{
  display: flex;
}

/*




*/ /* == ============================================== 
|          (10.2) CLS. "MEDIA__TITLU"
|     
   =================================================== */
.media__titlu{
  margin-top: 0;
}

/*




*/ /* == ============================================== 
|          (10.3) CLS. "MEDIA__BODY"
|     
   =================================================== */
.media__body {
  margin: 0 2rem;
} 

/*




*/ /* == ============================================== 
|          (10.4) CLS. "MEDIA__IMAGE"
|     
   =================================================== */
.media__image {
  margin-top: 1rem;
} 


/*




*/ /*  
////////////////////////////////////////////////////////

           (XI) CITATE (QUOTES)   [MOBILE]

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/ /* == ============================================== 
|          (11.1) CLS. "CITAT"
|     
   =================================================== */
   .citat {
    font-size: 3rem;
    font-style: italic;
    columns: var(--culoare-corp-intunecata);
    line-height: 1.3;
  }

/*




*/ /* == ============================================== 
|        (11.2.1) PSEUDO-CLS. "CITAT__TEXT::BEFORE"
|           (PT. ADG. GHILIMELE DE DESCHIDERE)
   =================================================== */
.citat__text::before {
    
  /* "DESCHIDERE"  CITAT */
  /* PROP. 'CONTINUT' = "OPEN-QUOPE"   */
  content: open-quote;
}

/*




*/ /* == ============================================== 
|        (11.2.2) PSEUDO-CLS. "CITAT__TEXT::AFTER"
|           (PT. ADG. GHILIMELE DE INCHIDERE)
   =================================================== */
.citat__text::after {

  /* "INCHIDERE"  CITAT */
  /* PROP. 'CONTINUT' = "OPEN-QUOPE"   */
  content: close-quote;
}

/*




*/ /* == ============================================== 
|        (11.3) CLS. "AUTOR__CITAT"
|           
   =================================================== */
.autor__citat {
  font-size: 3rem; 
  font-weight: 500; 
  font-style: normal;
  margin-bottom: 0;
}

/*




*/ /* == ============================================== 
|        (11.4) CLS. "CITAT__COMPANIE"
|          
   =================================================== */
.citat__companie {
 color: var(--culoare-titluri);
 opacity: .4;
 font-size: 2rem;
 font-style: normal;
}

/*




*/ /* == ============================================== 
|        (11.5) CLS. "LINIE__CITAT"
|          
   =================================================== */
.linie__citat {
 position: relative;
 bottom: 10px;
}


/*




*/ /* 
   ////////////////////////////////////////////////////
|                (XI) CITAT - QUOTE  [DESKTOP]   
|         ( @MEDIA  QUERY (LATIME  MINIMA: 1024PX) )
   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
   @media screen and (min-width: 1024px) {
    .citat {
      font-size: 2rem;
    }
    
    .autor__citat {
      font-size: 2.4rem;
    }

    .citat__companie {
      font-size: 1.6rem;
    }
  }


  
/*




*/ /*  
////////////////////////////////////////////////////////

           (XII) GRIDS   [MOBILE]

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/ /* == ============================================== 
|          (12.1) CLS. "GRID"
|     
   =================================================== */
.grid{
  display: grid;
}


/*




*/ /* 
   ////////////////////////////////////////////////////
|                (XII) GRIDS [TABLET]   
|         ( @MEDIA  QUERY (LATIME  MINIMA: 1024PX) )
   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
@media screen and (min-width: 768px) {
  .grid--2-cols {
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(2, 1fr);
  }
}


/*




*/ /* 
   ////////////////////////////////////////////////////
|                (XII) GRIDS [DESKTOP]   
|         ( @MEDIA  QUERY (LATIME  MINIMA: 1024PX) )
   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
@media screen and (min-width: 1024px) {
  .grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }
}



/*




*/ /*  
////////////////////////////////////////////////////////

           (XIII) TESTIMONIALS    [MOBILE]

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/ /* == ============================================== 
|          (13.1) CLS. "TESTIMONIAL"
|     
   =================================================== */
.testimonial {
  padding: 3rem;
}

/*




*/ /* == ============================================== 
|          (13.2) CLS. "TESTIMONIAL__IMAGE"
|     
   =================================================== */
.testimonial__image {
  position: relative ;
}

/*




*/ /* == ============================================== 
|          (13.3) TRANS-SELECTORUL " > IMG" DIN CLS. "TESTIMONIAL__IMAGE"
|                  (PT. SELECTAREA IMAGINI)
   =================================================== */
.testimonial__image > img {
  width: 100%; 
}

/*




*/ /* == ============================================== 
|          (13.4) TRANS-SELECTORUL CLS. " > .ICON-CONTAINER" 
|                      DIN CLS. "TESTIMONIAL__IMAGE"     
|             ( PT. POZITIONAREA ABSOLUTA A ICON-ULUI)          
   =================================================== */
.testimonial__image > .icon-container {
  position: absolute;
  top: 3rem;
  right: -32px;
}


/*




*/ /* 
   ////////////////////////////////////////////////////
|                (XIII) GRIDS [TABLET]   
|         ( @MEDIA  QUERY (LATIME  MINIMA: 1024PX) )
   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
@media screen and (min-width: 768px) {
  .testimonial .quote, 
  .testimonial .autor__citat {
    font-size: 2.4rem;
  }

  .testimonial .quote {
    margin-left: 6rem;
  }
}
  


/*




*/ /*  
////////////////////////////////////////////////////////

    (XIV) CALLOUTS (MES INSTINTARE)    [MOBILE]

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/ /* == ============================================== 
|          (14.1) CLS. "CALLOUT"
|     
   =================================================== */
   .callout {
    padding: 4rem;
    border-radius: 4px;
  }
  
/*




*/ /* == ============================================== 
|          (14.2) CLS. "CALLOUT--PRINCIPAL"
|     
   =================================================== */
   .callout--principal {
    background-color: var(--culoare-principala);
    color: #fff;  
  }
  
/*




*/ /* == ============================================== 
|          (14.3) CLS. "CALLOUT__TITLU"
|     
   =================================================== */
   .callout__titlu {
    color: #fff;  
    margin-top: 0;
    font-size: 3rem;
  }
  
/*




*/ /* == ============================================== 
|          (14.4) CLS. "BTN" DIN CLS. "CALLOUT"
|     
   =================================================== */
   .callout .btn {
     /* ALINIERE "ORIZONTALA" */
    justify-self: center;

    /* ALINIERE "VERTICALA" */
    align-self: center;
  } 
 
  
/*




*/ /* == ============================================== 
|          (14.5) CLS. "CALLOUT__CONTINUT"
|     
   =================================================== */
   .callout__continut {
    text-align: center;
  } 
 
  
/*




*/ /* 
   ////////////////////////////////////////////////////
|                (XIV) CALLOUT (MES. INSTINTARE) [TABLETA]   
|         ( @MEDIA  QUERY (LATIME  MINIMA: 1024PX) )
   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
@media screen and (min-width: 768px) {
 .callout .grid--2-cols {
   /* SPATUL LIBER DIN COL 2  ESTE ALOCAT COL. 1 */
   grid-template-columns: 1fr auto;
 }

 .callout__continut {
   text-align: left;
 }
 
 .callout .btn {
   justify-self: start;
   
   /* MARGINI "VERTICAL", "ORIZONTAL" */
   margin: 0 2rem;
 }
}



/*




*/ /*  
////////////////////////////////////////////////////////

    (XV) COLLAPSIBLES  (PLIABILE)    [MOBILE]

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/ /* == ============================================== 
|          (15.1) CLS. "COLLAPSIBLE__HEADER"
|     
   =================================================== */
   .collapsible__header {
     display: flex;

     /* ADG. SPATIU INTRE "ELEMENT" & "ICON" */
     justify-content: space-between;
   }

/* 




*/ /* == ============================================== 
|          (15.2) CLS. "COLLAPSIBLE__TITLU"
|     
   =================================================== */
   .collapsible__titlu {
     margin-top: 0;
     font-size: 3rem;
   } 

/* 




*/ /* == ============================================== 
|     (15.3) CLS. "COLLAPSIBLE__ICON-CHEVRON"
|        (PT. ROTIREA ICONULUI)
   =================================================== */
   .collapsible__icon-chevron {

    /* ROTIM ICONUL */
    transform: rotate(-90deg);

    /* ANIMARE ICON */
   transition:  transform 0.3s;
   } 

/* 




*/ /* == ============================================== 
|      (15.4) CLS. "COLLAPSIBLE__ICON-CHEVRON"
|          (PT. ASCUNDEREA  CONTINUTULUI)
   =================================================== */
   .collapsible__continut {

    /* ASCUNDERE CONTINUT */
    /* display: none; */

    /* INALTIMEA MAXIMA = ZERO  */
    max-height: 0;

    /* ASCUNDERE CONTINUT */
    overflow: hidden;

    opacity: 0;

    /* ANIMARE "MAX-HEIGHT" LA 3 SEC */
    /* transition: max-height 0.3s; */

    /* ANIMARE PROP. MULTIPLE */
    transition: all 0.3s;
   } 

/* 




*/ /* == ============================================== 
|     (15.5) CLS "COLLAPSIBLE__ICON-CHEVRON"  DIN 
|            CLS. "COLLAPSIBLE--DESCHIS"
|        (PT. ROTIREA ICONULUI LA POZITIA INITIALA)
   =================================================== */
   .collapsible--deschis .collapsible__icon-chevron {

    /* ROTIM ICONUL */
      transform: rotate(0);
   } 

/* 




*/ /* == ============================================== 
|     (15.6) CLS "COLLAPSIBLE__CONTINUT"  DIN 
|            CLS. "COLLAPSIBLE--DESCHIS"
|          (PT. AFISAREA CONTINUTULUI)
   =================================================== */
   .collapsible--deschis .collapsible__continut {

    /* AFISARE BLOC TEXT */
    /* display: block; */

    /* INALTIMEA MAXIMA = 100VH  */
    max-height: 100vh;
    
    opacity: 1;
   } 




/*




*/ /*  
////////////////////////////////////////////////////////

    (XVI) SECTIUNI  (BLOCKS / BLOCURI)    [MOBILE]

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/ /* == ============================================== 
|          (16.1) CLS. "BLOC"
|     
   =================================================== */
.bloc {
    /* VARIABILA GLOBALA PERSONALIZATA (PT. SECTIUNI) */
    --padding-vertical: 6rem;

    /* DIST. "VERTICALA" & "ORIZONTALA" */
    padding: var(--padding-vertical) 2rem;
  
    /* PT TESTARE */
    /* border: 2px solid red; */
}

/*




*/ /* == ============================================== 
|          (16.2) CLS. "BLOC__HEADER"
|     
   =================================================== */
.bloc__header {
  
    text-align: center;
}

/*




*/ /* == ============================================== 
|          (16.3) CLS. "BLOC__TITLU"
|     (PT. ECHILIBRAREA SPATIILE SECTIUNII)
   =================================================== */
.bloc__titlu {
  margin-top: 0;
}

/*




*/ /* == ============================================== 
|          (16.4) CLS. "BLOC--NEGRU"
|     (PT. "SEC." PE FUNDAL "NEGRU")
   =================================================== */
.bloc--negru {
  background: #000;
  color: #7b858b;
}

/*




*/ /* == ============================================== 
|   (16.5) CLS. "BLOC__TITLU" DIN CLS. "BLOC--NEGRU"
|     (PT. CULOAREA TITLULUI PE BG. NEGRU)
   =================================================== */
.bloc--negru .bloc__titlu {
  color: #fff; 
}


/*




*/ /* == ============================================== 
|          (16.6.1) CLS. "BLOC--INCLIBAT-DREAPTA"
|     (PT. "SEC." INCLINATA LA DREAPTA)
   =================================================== */
   .bloc--inclinat-dreapta {

    /* FUNC. "CALC()" -- PT. ADG. VALORI SUPLIMENTARE */
     padding-bottom: calc(var(--padding-vertical) + 4rem);

      /* PROP. "CLIP-PATH" */
      /* PERECHILE REPREZ. UN PUNCT "X Y" */

      /* PCT. 1 ("ST. SUS"),  PCT. 2 ("DR. SUS")" */
      /* PCT. 3 ("ST. JOS"),  PCT. 4 ("DR. JOS")" */
      clip-path: polygon(0% 0%,  100% 0%,  100% 100%, 0% 80%);
  }
    


/*




*/ /* == ============================================== 
|          (16.6.2) CLS. "BLOC--INCLIBAT-STANGA"
|     (PT. "SEC." INCLINATA LA STANGA)
   =================================================== */
   .bloc--inclinat-stanga {

    /* FUNC. "CALC()" -- PT. ADG. VALORI SUPLIMENTARE */
     padding-bottom: calc(var(--padding-vertical) + 4rem);

      /* PROP. "CLIP-PATH" */
      /* PERECHILE REPREZ. UN PUNCT "X Y" */

      /* PCT. 1 ("ST. SUS"),  PCT. 2 ("DR. SUS")" */
      /* PCT. 3 ("ST. JOS"),  PCT. 4 ("DR. JOS")" */
      clip-path: polygon(0% 0%,  100% 0%,  100% 80%, 0% 100%);
  }
    