/*  
********************************************************

     (SEC. 3) SEC. 'PLANURI DE ABONARE' [MOBILE]

********************************************************
*/ /* == ============================================== 
|      (SEC. 3) [1] CLS. "GRID" DIN
|                   CLS. "BLOC-PLANURI"
|                  (PROP. 'GAP' (GOL))
   =================================================== */
.bloc-planuri .grid {
  gap: 8rem 4rem;
}

/*




*/ /* == ============================================== 
|      (SEC. 3) [2] CLS. "GRID" DIN
|                   CLS. "BLOC-PLANURI"
|         
   =================================================== */
.bloc-planuri .card {
  max-width: 300px;
  margin: 0 auto;
}
