/*  
////////////////////////////////////////////////////////

           (VII) INPUTS (INTRARI)  [MOBILE]

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/ /* == ============================================== 
|          (7.1) CLS. "INPUT"
|     
   =================================================== */
.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--culoare-border);
  /* color: var(--culoare-titluri); */
  color: var(--culoare-titluri);
  font-size: 2rem;

  /* DEZACTIVAM "CONTURUL"-UL ADAUGAT DE BROUSER PT. INPUT */
  outline: 0;
  padding: 1.5rem 3.5rem;
}

/*




*/ /* == ============================================== 
|          (7.2) OSEUDO-SELECTORUL. "::PLACEHOLDER"
|    (PT. SETAREA CULORI TEXTULUI DIN "PLACEHOLDER") 
   =================================================== */
::placeholder {
  color: #cdcbd7;
}

/*




*/ /* == ============================================== 
|          (7.3) CLS "INPUT-GROUP"
|    (PT. SETAREA CULORI TEXTULUI DIN "PLACEHOLDER") 
   =================================================== */
.input-group {
  /* FRONTIERA (BORDER) */
  border: 1px solid var(--culoare-border);
  border-radius: var(--border-radius);

  /* PROP. "DISPLAY" = "FLEX"
   (PT. CRESTEREA "INPUT" SAU & PRELUAREA "SPATIULUI" DISPONIBIL) */
  display: flex;
}

/*




*/ /* == ============================================== 
|          (7.4) CLS "INPUT" DIN "INPUT-GROUP"
|    (PT. SETARE BORDER ZERO) 
   =================================================== */
.input-group .input {
  /* DEZACTIVAM FRONTIERA */
  border: 0;

  /* PROP. "FLEX-FROW"
   (PERMITE CRESTEREA "INPUT" & PRELUAREA "SPATIULUI" DISPONIBIL) */
  flex-grow: 1;

  /* REDUCEM DISTANTA INTRE 'INPUT' & 'INPUT-GROUP' */
  /* VERTICAL (SUS & JOS) & ORIZONTAL (STANGA & DREAPTA) */
  padding: 1.5rem 2rem;

  width: 0;
}

/*




*/ /* == ============================================== 
|          (7.5) CLS "BTN" DIN "INPUT-GROUP"
|    (PT. SETARE MARGINIILOR BUTONULUI) 
   =================================================== */
.input-group .btn {
  margin: 4px;
}

/*  




*/ /* 
   ////////////////////////////////////////////////////
|                (VII) INPUT  [DESKTOP]   
|         ( @MEDIA  QUERY (LATIME  MINIMA: 1024PX) )
   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}
