/*  
////////////////////////////////////////////////////////

           (II) LINK-URI  [MOBILE]

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/ /* == ============================================== 
|        (2.1) ELEM. "A"
|     
   =================================================== */
a {
  /* DEZACTIVAM  SUBLINIEREA LINK-URILOR*/
  text-decoration: none;
}

/*  




*/ /* == ============================================== 
|         (2.2) CLS. "LINK-SAGEATA"
|          
   =================================================== */
.link-sageata {
  /* CULOARE LINK */
  color: var(--culoare-accent);

  /* TRANSFORMAM CARACTERELE = IN "LITERE MARI" */
  text-transform: uppercase;

  /* DIM. FONT LINK */
  font-size: 2rem;

  /* INGROSAM  CARACTERELE */
  font-weight: bold;
}

/*  




*/ /* == ============================================== 
|         (2.2.1) PSEUDO-CLS. "::AFTER"
|    (PT. ADAUGAREA "SAGETII" DUPA CUVANTUL "LINK")   
   =================================================== */
.link-sageata::after {
  /* ADAUGARE "CONTINUT" = "ICON"  */
  content: "-->";
  margin-left: 5px;

  /* ANIMAREA "TRANZITIEI" = "MARGIN"   */
  transition: margin 0.15s;
}

/*  




*/ /* == ============================================== 
|         (2.2.2) PSEUDO-CLS. ":HOVER::AFTER"
|    (PT. EFECT ASUPRA "SAGETII" DUPA CUVANTUL "LINK")   
   =================================================== */
.link-sageata:hover:after {
  /* MARIM "MARGINEA LA STANGA"   */
  margin-left: 10px;
}

/*  




*/ /* 
   ////////////////////////////////////////////////////
|                (II) LINK-URI  [DESKTOP]   
|         ( @MEDIA  QUERY (LATIME  MINIMA: 1024PX) )
   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
@media screen and (min-width: 1024px) {
  .link-sageata {
    /* DIM. FONT LINK - PE [DESKTOP] */
    font-size: 1.5rem;
  }
}
