/* == ================================================= 
|        (0.1) PSEUDO-CLASA ":ROOT"
|          (DEF. VAR. 'GLOBALE' pPERSONALIZATE)
   =================================================== */
:root {
  --culoare-principala: #2584ff;
  --culoare-secundara: #00d9ff;
  --culoare-accent: #ff3400;
  --culoare-titluri: #1b0760;
  --culoare-corp: #918ca4;
}


/*




*//* == ================================================= 
|    (0.2) SELECTORUL UNIVERSAL  &  PSEUDO-SELECTORUL
|             "*",  "*::AFTER",  "*::BEFORE"
|        (PT. DEF. "TUTUROR" ELEMENTELOR "HTML")
   =================================================== */
*, *::after, *::before {
 
  /* PROP. "BOX-SIZING" (DIM. CUTIEI) */
  /* CU VAL. "BORDER-BOX" (CUTIE DE DIM. BORDER-ULUI) */
 box-sizing: border-box;
}

/*




*/

/*  
////////////////////////////////////////////////////////

           (I) TIPOGRAFIE  [MOBILE]

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/ /* == ============================================== 
|        (1.1) ELEM. "HTML"
|     (DEF. DIMENSIUNII DE BAZA AL FONTULUI)
   =================================================== */
html {
  /* FONT INITIAL: '10PX' , ADICA ('16PX * 62.5%)  ' */
  font-size: 62.5%;
}

/*  




*/ /* == ============================================== 
|        (1.2) ELEM. "BODY"
|          (DEF. FONTURI TEXT CORP)
   =================================================== */
body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;

  /* INALTIME LINIE - 1.5 DIN DIMENSIUNEA FONTULUI CURENT*/
  line-height: 1.5;
  color: var(--culoare-corp);
}

/*  




*/ /* == ============================================== 
|        (1.3) ELEM. "H1, H2, H3"
|          (DEF. FONTURI TEXT TITLURI)
   =================================================== */
h1,
h2,
h3 {
  color: var(--culoare-titluri);
  margin-bottom: 1rem;
}

/*  




*/ /* == ============================================== 
|        (1.3.1) ELEM. "H1"
|          (DEF. DIM. FONTURI TEXT TITLURI)
   =================================================== */
h1 {
  font-size: 7rem;
}

/*  




*/ /* == ============================================== 
|        (1.3.2) ELEM. "H2"
|          (DEF. DIM. FONTURI TEXT TITLURI)
   =================================================== */
h2 {
  font-size: 4rem;
}

/*  




*/ /* == ============================================== 
|        (1.3.3) ELEM. "H3"
|          (DEF. DIM. FONTURI TEXT TITLURI)
   =================================================== */
h3 {
  font-size: 3rem;
}

/*  




*/ /* == ============================================== 
|        (1.4) ELEM. "P"
|          (DEF. MARGINI TOP)
   =================================================== */
p {
  margin-top: 0;
}

/*  




*/ /* 
   ////////////////////////////////////////////////////
|                (I) TIPOGRAFIE  [DESKTOP]   
|         ( @MEDIA  QUERY (LATIME  MINIMA: 1024PX) )
   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
@media screen and (min-width: 1024px) {
  /* == ============================================== 
  |        (0.1) ELEM. "BODY"
   =================================================== */
  body {
    font-size: 1.8rem;
  }

  /* == ============================================== 
  |        (0.2.1) ELEM. "H1"
   =================================================== */
  h1 {
    font-size: 8rem;
  }

  /* == ============================================== 
  |        (0.2.2) ELEM. "H2"
   =================================================== */
  h2 {
    font-size: 4rem;
  }

  /* == ============================================== 
  |        (0.2.3) ELEM. "H3"
   =================================================== */
  h3 {
    font-size: 2.4rem;
  }
}

/*




*/ /*  
////////////////////////////////////////////////////////

           (VI) BUTOANE   [MOBILE]

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/ /* == ============================================== 
|          (6.1) CLS. "BTN"
|     (PT. FONT, DISTANTARE SI BORDER)
   =================================================== */
.btn {
  /* DEZACTIVARE BORDER (LINIE DE CONTUR)) */
  border 0;
  
  /* ROTUNJIRE COLTURI BORDER */
  border-radius: 40px;
  
  /* SETARE  CURSOR (LA HOVER PESTE BUTON) = 'POINTER' (MANA) */
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;

  /* MARGINI = PE "VERTICAL (SUS.- JOS)",  "ORIZONTAL (ST.- DR)" */
  margin: 1rem 0;

  /* DISTANTARE (PADDING) = PE "VERTICAL (SUS.- JOS)",  "ORIZONTAL (ST.- DR)" */
  padding: 2rem 3rem;

  text-align: center;

  /* TRANSFORMAREA "CARACTERELOR" -- IN "LITERE MARI" */
  text-transform: uppercase;

  /* SPATIEREA AUTOMATA = 'NOWRAP' (FARA IMPACHETARE) */
  white-space: nowrap;
}

/*




*/ /* == ============================================== 
|          (6.2.1) CLS. "BTN--PRINCIPAL"
|     (PT. CULOARE - BUTON & TEXT)
   =================================================== */
.btn--principal {
  background-color: var(--culoare-principala);
  color: #fff;
}

/*




*/ /* == ============================================== 
|          (6.2.1.H) CLS. "BTN--PRINCIPAL:HOVER"
|     (ADAUGAREA  EFECTULUI HOVER PE BUTON)
   =================================================== */
.btn--principal:hover {
  /* FUNC. SASS 'LIGHTEN()' */
  /* background-color: lighten(principal, 10%); */

  background: #3a8ffd;
}

/*




*/ /* == ============================================== 
|          (6.2.2) CLS. "BTN--SECUNDAR"
|     (PT. CULOARE - BUTON & TEXT)
   =================================================== */
.btn--secundar {
  background-color: var(--culoare-secundara);
  color: #fff;
}

/*




*/ /* == ============================================== 
|          (6.2.2.H) CLS. "BTN--SECUNDAR:HOVER"
|     (ADAUGAREA  EFECTULUI HOVER PE BUTON)
   =================================================== */
.btn--secundar:hover {
  background-color: #00c8eb;
}

/*




*/ /* == ============================================== 
|          (6.2.3) CLS. "BTN--ACCENT"
|     (PT. CULOARE - BUTON & TEXT)
   =================================================== */
.btn--accent {
  background-color: var(--culoare-accent);
  color: #fff;
}

/*




*/ /* == ============================================== 
|          (6.2.3.H) CLS. "BTN--ACCENT:HOVER"
|     (ADAUGAREA  EFECTULUI HOVER PE BUTON)
   =================================================== */
.btn--accent:hover {
  background-color: #ec3000;
}

/*




*//* == ============================================== 
|          (6.3) CLS. "BTN-BLOCK"
|     ("BUTOANE" PE "INTREAGA LATIME" A "COLOANEI")
   =================================================== */
   .btn-block {

    /* LATIME PE TOT RANDUL */
    width: 100%;
    
    /* AFISARE - "BLOC IN LINIE" */
    display: inline-block;
  }

  

/*




*//* == ============================================== 
|          (6.4) CLS. "BTN-OUTLINE" (CONTUT)
|     ("BUTOANE" CU "LINIE DE  CONTUR" (FARA CULOARE) )
   =================================================== */
   .btn-outline {

    background: #fff;
    color: var(--culoare-titluri);
    border: 2px solid var(--culoare-titluri);
  }

/*




*//* == ============================================== 
|          (6.4.H) CLS. "BTN-OUTLINE" (CONTUT)
|     ("HOVER - BUTOANE" CU "LINIE DE  CONTUR" (FARA CULOARE) )
   =================================================== */
   .btn-outline:hover {

    background: var(--culoare-titluri);
    color: #fff;
  }

  
/*  




*/ /* 
   ////////////////////////////////////////////////////
|                (VI) BUTOANE  [DESKTOP]   
|         ( @MEDIA  QUERY (LATIME  MINIMA: 1024PX) )
   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
@media screen and (min-width: 1024px) {
  .btn{
    font-size: 1.5rem;
  }
}
